<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="container">
    <form action="">
      <div>
        <label for="">Email</label>
        <input type="email">
      </div>
      <h2>Guest 1</h2>
      <div>
        <label>Name</label>
        <input type="text">
      </div>
      <div>
        Meal
        <label>
          <input type="radio" name="meal">
          chicken
        </label>
        <label>
          <input type="radio" name="meal">
          beef
        </label>
        <label>
          <input type="radio" name="meal">
          vegetarian
        </label>
        <label>
          <input type="radio" name="meal">
          kids
        </label>
      </div>
      <button>Add Guest</button>
      <button>Submit</button>
    </form>
  </div>
</body>
</html>
